@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* navbar section */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 60px;

}
.header{
  background-color: rgb(255, 248, 243);
  background-image: url('../images/developer.png'),url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: center left, bottom right;
  
}
.logo-text{
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left; 
}
.highlight{
  color: rgb(253, 110, 10);
}
.active{
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

/* utility section  */
.btn{
  border-radius: 5px;
  background: rgb(253, 110, 10);
  padding: 19px 35px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
}

.btn-secondary{
  border-radius: 5px;
  background: transparent;
  padding: 19px 35px;
  color: rgb(253, 110, 10);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  border:1px solid rgb(253, 110, 10);
}

.primary{
  display: flex;
  align-items: center;
  gap: 14px;
}
.section-title{
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.container{
  max-width: 1140px;
  margin: 130px auto;

}


/* banner section */
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: -10px;
  padding-top: 50px;
  padding-left: 230px;
  padding-right: 50px;
}
.greeting{
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.name{
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
}
.description{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  width: 585px;
}
.buttons{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}



/* about section  */
.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: rgb(255, 248, 243);
  padding: 157px 210px;
  
}
.about-section{
  border: 1px solid rgb(24, 24, 24);
  padding: 6px;
  background-color: #ffffff;
}
.about-description{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  width: 827px;
  margin-top: 10px;
}
.me{
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-around;
}
.me-title{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.me-name{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}



/*? skills section  */
.skills{
  margin-top: 130px;
}
.skills-container{
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
.skill{
  width: 267px;
  background-color: #ffffff;
  padding: 30px 27px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);  
  /* border: 1px solid rgb(24, 24, 24); */
}
.skill-description{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  width: 909px;
  margin: 32px auto;
}

.skill-dec{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 25px;
}
.skill-title{
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
}

/* resume section  */

.resume-item-title{
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.resume-title{
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.resume-item-institute{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.resume-container{
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}
.resume{
  margin-top: 130px;
}
.resume-item-title{
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 14px;
}
.resume-item-description{
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  width: 511px;
  margin: 15px 0px;
}
.resume-item{
  padding: 4px;
}

hr{
  border: 1px solid rgb(209, 209, 209);
}
.download-cv{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}
